body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  background-color: #4b4949;
}

header, footer {
  background-color: #333;
  color: ivory;
  text-align: center;
  padding: 1rem;
}

header {
  display:flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
}

#theme-toggle{
  border: 1px solid rgba(255, 255, 240, 0.244);
  border-radius: 8px;
  padding: 0.1rem;
  margin: 0rem 0.2rem;
  background-color: #38b6ff;
  color: black;
}

#news-container {
  display: grid;
  grid-gap: 1rem;
  max-width: 1200px;
  margin: 2rem auto;
  padding: 0 1rem;
}

@media (max-width: 767px) {
  #news-container {
    grid-template-columns: 1fr;
  }
  #weatherContainer{
    font-size: 0.8rem;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  #news-container {
    grid-template-columns: repeat(2, 1fr);
  }
  #weatherContainer{
    font-size: 1rem;
  }
}

@media (min-width: 1024px) {
  #news-container {
    grid-template-columns: repeat(3, 1fr);
  }
  #weatherContainer{
    font-size: 1.2rem;
  }
}

.news-item {
  display: flex;
  flex-direction: column;
  background-color: ivory;
  border-radius: 8px;
  padding: 1rem;
  margin: 1rem 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.news-item:hover {
  transition: linear 0.2s;
  transform: translateY(-5px);
  box-shadow: 2px 5px 10px rgba(255, 255, 255, 0.137);
}

.news-item h2 {
  font-size: 1.5rem;
  margin: 0 0 10px;
  color: #333;
}

.news-item img {
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
  margin-bottom: 10px;
}

.news-item p {
  flex-grow: 1;
  font-size: 1rem;
  color: #555;
  line-height: 1.5;
  margin-bottom: 10px;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  padding: 0.5rem;
  border-radius: 8px;
}

.card-footer button {
  background-color: #38b6ff;
  border: none;
  color: #fff;
  padding: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 10px;
  text-align: center;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.311);
}

.card-footer button:hover {
  background-color: #005bb5;
}

.card-footer small {
  font-size: 0.85rem;
  font-weight: 4000;
  color: #747272;
}

#navBar {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: inherit;
  color: inherit;
  gap: 1.5rem;
  overflow: hidden;
  padding: 1rem 0rem 0rem 0rem;
}

#weatherContainer{
  display: flex;
  gap:10px;
  justify-content: center;
  align-items: center;
  background-color: #005bb5;
  font-weight: 500;
  width: 100%;
  margin: 0;
}

#home-btn{
  position: sticky;
  top:50px;
  z-index: 2;
  margin-left: 10px;
  margin-top: 10px;
}

.brand-container {
  display: flex;
  align-items: center;
}

.brand-link {
  display: flex;
  align-items: center;
  color: ivory;
  text-decoration: none;
  font-weight: bold;
  font-size: 2.5rem;
}

.brand-img {
  margin-right: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(75, 73, 73);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

#loader-2{
  position: relative;
  width: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  margin: 1rem auto;
}

.spinner {
  border: 8px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.draggable {
  position: fixed;
  top: 148px;
  left: 10px; 
  z-index: 3;
  cursor: grab;
  user-select: none;
  transition: background-color 0.3s;
}

.draggable:active {
  cursor: grabbing;
}
